.nav {
    background-color: #343B4A;
    height: 8vh;
}

@media only screen and (max-width: 992px) {
    .nav {
        height: inherit;
    }
}

.header {
    height: 92vh;
    background-color: #2B313D;
}

.headerContent {
    text-align: center;
    color: white;
    height: 92vh;
}

.headerLeft {
    color: #f9ca24;
}